{% extends 'base.html' %}

{% block contents %}
<section class='inner faq_table'>
  <h1>FAQ</h1>
  <h3 style="color: red;">현재 실제 시행 내용과 약간 다를 수 있습니다.</h3>
  <h5 style="color: red;">다른 내용에 대해서는 책임지지 않습니다</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      {% for faq in faq_list %}
      <tr>
        <td>
          <div>
            <label for="{{faq.id}}" class="toggle_button">{{faq.subject}}</label>
            <input type="checkbox" id="{{faq.id}}">
            <div id="toggle_contents" style="white-space: pre-line;">
              {{faq.content}}
              <div>
                <a class='btn btn-primary my-3' href="{{url_for('detail.faq_modify', faq_id=faq.id)}}">faq 수정하기</a>
              </div>
              <label for="toggle_button3" class="close_button">X</label>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  {% if current_user.id == 8171 %}
  <a class='btn btn-primary my-3' href="{{url_for('detail.faq_create')}}">faq 작성하기</a>


  {% endif %}
</section>
{%endblock%}